body {
    background: #000;
    color: #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: unset;
    font-size: 1.5em;
}

h1 {
    font-family: sans-serif;
    font-size: 1.4em;
    margin: .5em;
}

textarea {
    min-width: 400px;
    min-height: 450px;
    width: 800px;
    background: #222;
    color: #ddd;
    font-size: 1.028em;
}

#css-input-textarea {
    width: unset;
}

button {
    width: 4em;
    background: #555;
    font-size: .75em;
}

#restore-default-button, #additive-import-button {
    width: unset;
    font-size: 1em;
}

table {
    width: 800px;
    font-family: monospace;
    overflow: scroll;
    display: block;
    resize: both;
    border-collapse: collapse;
    border-style: inset;
}

td {
    border: 1px solid #bbb;
    padding: .2em;
}

td div {
    white-space: nowrap;
    width: 15em;
    overflow: hidden;
}

p {
    margin: .5em;
    text-align: center;
}

#domain-label {
    font-size: .65em;
    margin: .2em;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* track */
::-webkit-scrollbar-track {
    background: #777;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: #444;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
